.toast {
    border-radius: 10px;
    padding: 0 10px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.139);
    animation-name: toast-slide-in;
    animation-duration: 0.30s;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.136);
}

.toast-success {
    background-color: rgb(31 191 138);
}

.toast-error {
    background-color: rgb(235, 77, 77);
}

.toast-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(239, 230, 230, 0.627);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.156);
    border-radius: 50%;
}

.toast-close-btn > span {
    display: inline-block;
    transform: scale(0.6);
}

@keyframes toast-slide-in {
    0% { 
        transform: translateX(100%);
    }
    60% { 
        transform: translateX(-15%);
    }
    80% { 
        transform: translateX(5%);
    }
    100% { 
        transform: translateX(0);
    }
}